/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-color: seagreen;
  padding: 1px;
  box-shadow: 1px 1px 5px #555555;
}

body {
  background: linear-gradient(-45deg, seagreen, white);
  min-height: 100vh;
  animation: gradient 15s ease infinite;
  background-size: 100% 100%;
}
#logo {
  font-family: "Nunito", serif;
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

h1 {
  margin: 40px 0 20px 10px;
}

h2 {
  margin: 40px 0 0 10px;
}

h3 {
  margin: 10px 0 0 10px;
}

main p,
span {
  margin: 10px 0 20px 10px;
}

button {
  margin: 20px 0 0 10px;
}

label {
  margin: 0 0 0 10px;
}

p,
a,
button,
label,
select,
option,
span {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#logo {
  font-size: xx-large;
  padding: 10px 0 10px 10px;
}
#r {
  color: seagreen;
  text-shadow: 1px 1px 1px black;
}

#nav a {
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 5%;
  font-size: 3cqw;
}

#nav a:hover {
  color: red;
  border-color: red;
}

#categories {
  margin-bottom: 40px;
}
.box {
  width: 100%;
  aspect-ratio: 3/2;
  background-position: 50% 50%;
  background-size: cover;
  border: 2px solid black;
  border-radius: 5%;
  margin-bottom: 20px;
  text-align: right;
  padding: 5px;
  font-size: 3cqw;
  font-weight: 600;
  box-shadow: 1px 1px 5px black;
}

.box:hover {
  translate: 1px 1px;
  box-shadow: 10px 10px 50px seagreen;
  font-size: 5cqw;
  border: 2px solid seagreen;
}

a {
  text-decoration: none;
  color: black;
}

/* .box-1 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1526.webp);
  background-size: 75%;
  background-position: 40% 40%;
}
.box-2 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1164.webp);
  background-size: 93%;
  background-position: 50% 35%;
}
.box-3 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1542.webp);
  background-size: 93%;
  background-position: 60% 35%;
}
.box-4 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1656.webp);
  background-size: 80%;
}
.box-5 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1596.webp);
  background-size: 70%;
  background-position: 40% 40%;
}
.box-6 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1590.webp);
  background-size: 88%;
  background-position: 50% 25%;
} */

.produkt_billede {
  aspect-ratio: 3/4;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */

  background-size: contain;
}
.produkt {
  display: grid;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
}
.produkt a {
  display: grid;
}

.onSale {
  visibility: hidden;
  color: white;
  background-color: red;
  padding: 10px;
  text-decoration: none;
  grid-column: 1;
  grid-row: 1;
  place-self: start start;
  z-index: 2;
}

.newPrice {
  visibility: hidden;
  color: white;
  background-color: red;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.visible {
  visibility: visible;
}

.soldOut {
  padding: 10px;
  /* visibility: hidden; */
  background-color: #555555;
  opacity: 50%;
  color: white;
}

.produkt img {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.produkt_billede-1 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1164.webp);
  text-align: right;
  color: red;
}

.produkt_billede-2 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1526.webp);
}

.produkt_billede-3 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1542.webp);
}

.produkt_billede-4 {
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1656.webp);
  opacity: 50%;
}

.single_produkt {
  display: grid;
  margin-top: 40px;
  background-color: white;
}

.single_produkt img {
  grid-row: 1;
  grid-column: 1;
}
.large_text {
  font-size: 50px;
  margin-top: 0;
}

.add_to_basket {
  background-color: rgba(46, 139, 86, 0.692);
  padding: 10px;
  margin-bottom: 0;
}

label,
select,
button {
  font-size: 5cqw;
}

button {
  padding: 10px;
}

@media (min-width: 600px) {
  #logo {
    font-size: 5cqw;
  }

  .box {
    font-size: 2cqw;
  }
  .box:hover {
    font-size: 3cqw;
  }

  label,
  select,
  button {
    font-size: 2cqw;
  }
  #nav a {
    font-size: 2cqw;
  }
}
